<!DOCTYPE html>
<html ng-app="AModule">
<head>
    <title>angularAtoZ | Defining A Method</title>
    <!-- <base href="/"> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<body>
    <div class="container">
        <div class="well" ng-controller="FirstCtrl">
            <div class="alert alert-success">
                Scope of FirstCtrl
            </div>
            <input type="text" ng-model="data.message">
            <h1>{{data.message}}</h1>
        </div>

        <div class="well" ng-controller="SecondCtrl">
            <div class="alert alert-success">
                Scope of SecondCtrl
            </div>
            <input type="text" ng-model="data.message">
            <h1>{{data.message}}</h1>
            <div class="panel panel-success">
                <h2>...and the reversed message is...</h2>
                <!-- This way we were accessing data from the controller using $scope -->
                <!-- <span>{{reverse()}}</span> -->

                <!-- but we can totally pass the message as an argument to the method -->
                <i>{{reverse(data.message)}}</i>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="lib/angular/angular.min.js"></script>

    <script>
    var aModule = angular.module('AModule', [])

    aModule.controller('FirstCtrl', function FirstCtrl($scope){
       $scope.data = {message : "Hi from first Controller"};
    });

    aModule.controller('SecondCtrl', function SecondCtrl($scope){
       $scope.data = {message : "Hi from second Controller"};

        //creating a method here that would return 
        //the reverse of the message
        // $scope.reverse = function(){
        //     return $scope.data.message.split("").reverse().join("");
        // }


        //above, we directly accessed the data.message via the $scope
        //which is a bad practice.. so we then passed in the value of
        //data.message from template in second approach.
        $scope.reverse = function(message){
            return message.split("").reverse().join("");
        }
        
    });
    </script>
</body>
</html>